*{
    box-sizing: border-box;
}
    body{
        margin: 0px;
    }
        header{
            width: 100%;
            height: 100vh;
            background: linear-gradient(60deg, transparent, rgba(130,130,200, 0.6) 50%), url(../images/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
            nav{
                position: fixed;
                width: 100%;
                height: 10vh;
                display: flex;
                z-index:1;
                align-items: center;
                justify-content: space-around;
            }
                #logo{
                    display: inline-block;
                    /* border:2px solid green; */
                    color:white;
                }
                    #image{
                        width: 100px;
                        height: 40px;
                        filter: invert(100%);
                    }
                    h3{
                        line-height: 5px;
                        margin: 0px;
                        text-align:center;
                        font-size:1em;
                        cursor: context-menu;
                    }
                #mid{
                    /* border: 2px solid red; */
                    flex-basis: 65vh;
                    padding: 0px;
                    display: flex;
                    justify-content: space-around;
                }
                #right{
                    flex-basis: 30vh;
                    /* border: 2px solid blue; */
                    display: flex;
                    padding: 0px;
                    justify-content: space-around;
                }
                    #login{
                        border: 1px solid white;
                        border-radius: 10px;
                    }
                    #login:hover{
                        color: rgb(176 175 217);
                        background-color: white;
                    }
                nav ul li{
                    list-style: none;
                    display: inline-block;
                }
                    li a{
                        text-decoration: none;
                        color: white;
                        padding: 6px 16px;
                    }
                    a:hover{
                        font-weight: 600;
                    }
            #f-register{
                position: absolute;
                top: 25vh;
                left: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50vh;
                /* border: 2px solid blue; */
                height: 50vh;
                justify-content: space-between;
                border-radius: 10px;
                background-color: rgba(220,220,255,0.6);
            }
                .login-head{
                    text-align: center;
                    font-size: 2em;
                    padding:2vh;
                    color: #1b51d5;
                }
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50vh;
                    /* border: 2px solid blue; */
                    height: 40vh;
                    justify-content: space-evenly;
                    border-radius: 10px;
                }
                    input{
                        border-radius: 3px;
                        width: 30vh;
                        outline: none;
                        height: 30px;
                        text-align: center;
                        border: none;
                    }
                    input:focus, input:hover, #submit:hover{
                        background-color: rgb(240,240,240) !important;
                        box-shadow: -1px -1px 2px rgba(255,255,255,0.5), 1px 1px 2px rgba(70,70,70,0.12), inset -4px -4px 3px rgba(255,255,255,1), inset 4px 4px 3px rgba(70,70,70,0.2);
                    }
                    #submit{
                        border-radius: 5px;
                        background-color: white;
                        border:none;
                        height: 30px;
                        width: 85px;
                        color: #1b51d5;
                    }
                    #submit:hover{
                        cursor: pointer;
                    }
        #grid{
            display:flex;
            border:2px solid black;
            margin: 5vh 0px;
            height: 50vh;
        }
        footer{
            font-size: small;
            text-align: center;
            width: 100%;
            margin-top:10px;
            background-color: rgb(180 178 178);
        }

/* Media Queries */

@media (max-width:820px){
    #mid{
        flex-basis: 45vh;
    }
    #right{
        flex-basis: 25vh;
    }
}

@media (max-width:628px){
    nav{
        display:none;
    }
}