*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}
.navbar-brand{
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #28a745 !important;
}
.nav-link{
  letter-spacing: 1px;
}
.carder{
  background-color: rgba(0,0,0,0.1) !important;
  border-radius: 20px;
}
.row div, .row img{
  height: 250px !important;
}
.nav-link:hover{
  color: #28a745 !important;
}
